body, html {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  font-family: Tahoma, Arial, sans-serif;
  background: url('../images/bg-main.jpg') left top;
}

.hidden {
  display: none;
}